body {
  font-family: Arial;
  background: #f4f7fb;
  padding: 30px;
}

h2 {
  color: teal;
}

select {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.product {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product h3 {
  margin: 0;
  color: #333;
}
