body {
  font-family: Arial;
  background: #f4f7fb;
  padding: 30px;
}

h2 {
  color: teal;
}

input {
  padding: 10px;
  width: 220px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background: teal;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  padding: 0;
}

li {
  list-style: none;
  background: white;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
